@font-face {
	font-family: 'SamsungSharpSans-Regular';
	src: url('fonts/SamsungSharpSans-Regular.eot');
	src: local('☺'), url('fonts/SamsungSharpSans-Regular.woff') format('woff'), url('fonts/SamsungSharpSans-Regular.ttf') format('truetype'), url('fonts/SamsungSharpSans-Regular.svg') format('svg');
}
@font-face {
	font-family: 'SamsungSharpSans-Medium';
	src: url('fonts/SamsungSharpSans-Medium.eot');
	src: local('☺'), url('fonts/SamsungSharpSans-Medium.woff') format('woff'), url('fonts/SamsungSharpSans-Medium.ttf') format('truetype'), url('fonts/SamsungSharpSans-Medium.svg') format('svg');
}
@font-face {
	font-family: 'SamsungSharpSans-Bold';
	src: url('fonts/SamsungSharpSans-Bold.eot');
	src: local('☺'), url('fonts/SamsungSharpSans-Bold.woff') format('woff'), url('fonts/SamsungSharpSans-Bold.ttf') format('truetype'), url('fonts/SamsungSharpSans-Bold.svg') format('svg');
}
@font-face {
	font-family: 'SamsungOne-200C_v1.0';
	src: url('fonts/SamsungOne-200C_v1.0.eot');
	src: local('☺'), url('fonts/SamsungOne-200C_v1.0.woff') format('woff'), url('fonts/SamsungOne-200C_v1.0.ttf') format('truetype'), url('fonts/SamsungOne-200C_v1.0.svg') format('svg');
}
@font-face {
	font-family: 'SamsungOne-300C_v1.0';
	src: url('fonts/SamsungOne-300C_v1.0.eot');
	src: local('☺'), url('fonts/SamsungOne-300C_v1.0.woff') format('woff'), url('fonts/SamsungOne-300C_v1.0.ttf') format('truetype'), url('fonts/SamsungOne-300C_v1.0.svg') format('svg');
}
@font-face {
	font-family: 'SamsungOne-400C_v1.0';
	src: url('fonts/SamsungOne-400C_v1.0.eot');
	src: local('☺'), url('fonts/SamsungOne-400C_v1.0.woff') format('woff'), url('fonts/SamsungOne-400C_v1.0.ttf') format('truetype'), url('fonts/SamsungOne-400C_v1.0.svg') format('svg');
}
@font-face {
	font-family: 'SamsungOne-450C_v1.0';
	src: url('fonts/SamsungOne-450C_v1.0.eot');
	src: local('☺'), url('fonts/SamsungOne-450C_v1.0.woff') format('woff'), url('fonts/SamsungOne-450C_v1.0.ttf') format('truetype'), url('fonts/SamsungOne-450C_v1.0.svg') format('svg');
}
@font-face {
	font-family: 'SamsungOne-500C_v1.0';
	src: url('fonts/SamsungOne-500C_v1.0.eot');
	src: local('☺'), url('fonts/SamsungOne-500C_v1.0.woff') format('woff'), url('fonts/SamsungOne-500C_v1.0.ttf') format('truetype'), url('fonts/SamsungOne-500C_v1.0.svg') format('svg');
}
@font-face {
	font-family: 'SamsungOne-600C_v1.0';
	src: url('fonts/SamsungOne-600C_v1.0.eot');
	src: local('☺'), url('fonts/SamsungOne-600C_v1.0.woff') format('woff'), url('fonts/SamsungOne-600C_v1.0.ttf') format('truetype'), url('fonts/SamsungOne-600C_v1.0.svg') format('svg');
}
@font-face {
	font-family: 'SamsungOne-700C_v1.0';
	src: url('fonts/SamsungOne-700C_v1.0.eot');
	src: local('☺'), url('fonts/SamsungOne-700C_v1.0.woff') format('woff'), url('fonts/SamsungOne-700C_v1.0.ttf') format('truetype'), url('fonts/SamsungOne-700C_v1.0.svg') format('svg');
}
@font-face {
	font-family: 'SamsungOne-800C_v1.0';
	src: url('fonts/SamsungOne-800C_v1.0.eot');
	src: local('☺'), url('fonts/SamsungOne-800C_v1.0.woff') format('woff'), url('fonts/SamsungOne-800C_v1.0.ttf') format('truetype'), url('fonts/SamsungOne-800C_v1.0.svg') format('svg');
}
