// //////////////
//This file includes mixins, resets etc.
// //////////////
@import 'editor';


// //////////////
// Fonts
// //////////////
$sam-bold: 'SamsungSharpSans-Bold',Sans-Serif;
$sam-med: 'SamsungSharpSans-Medium',Sans-Serif;
$sam-reg: 'SamsungSharpSans-Regular',Sans-Serif;
$sam-one-200: 'SamsungOne-200C_v1.0',Sans-Serif;
$sam-one-300: 'SamsungOne-300C_v1.0',Sans-Serif;
$sam-one-400: 'SamsungOne-400C_v1.0',Sans-Serif;
$sam-one-450: 'SamsungOne-450C_v1.0',Sans-Serif;
$sam-one-500: 'SamsungOne-500C_v1.0',Sans-Serif;
$sam-one-600: 'SamsungOne-600C_v1.0',Sans-Serif;
$sam-one-700: 'SamsungOne-700C_v1.0',Sans-Serif;
$sam-one-800: 'SamsungOne-800C_v1.0',Sans-Serif;

// //////////////
// Colors
// //////////////
$blue: #0023a4;
$light-blue: #d0d4ec;
$light-blue-2: #7a81c0;
$light-grey: #bbb;

// //////////////
// Common Styles
// //////////////
body,input, textarea, keygen, select, button{
	font-family: $sam-one-300;
	font-size: 16px;
	color: black;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}
p{
	font-size: 16px;
	font-family: $sam-one-300;
	letter-spacing: 1px;
}
.container{
	max-width: 1400+30px;
}
@include body-smooth($blue, transparent);
.col-2{
	@include col-2(0%, 0%);
}
.col-3{
	@include col-3(0%, 0%);
}
.round-corners{
	border: 1px solid $blue;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	    overflow: hidden;
}

// //////////////
// Headings
// //////////////
.heading-common{
	font-family: $sam-bold;
	color: black;
}
h1{
	font-size: 59px;
	@extend .heading-common;
}
h2{
	font-size: 44px;
	@extend .heading-common;
}
h3{
	font-size: 30px;
	@extend .heading-common;
}
h4{
	font-size: 24px;
	@extend .heading-common;
}
h5{
	font-size: 22px;
	@extend .heading-common;
}
h6{
	font-size: 18px;
	@extend .heading-common;
}
a{
	text-decoration: none;
	color: $blue;
	&:hover{
		text-decoration: underline;
	}
}
ul,ol{
	padding-left: 18px;
}
.small-fonts{
	font-size: 13px;
}
.blue{
	color: $blue;
}

// //////////////
// Table
// //////////////
table{
	width: 100%;
	margin-bottom: 20px;
	tr{
		th{
			border: 1px solid $blue;
			-webkit-border-top-left-radius: 5px;
			        border-top-left-radius: 5px;
			    -webkit-border-top-right-radius: 5px;
			            border-top-right-radius: 5px;
		}
		&:last-child{
			td{
				-webkit-border-bottom-left-radius: 5px;
			        border-bottom-left-radius: 5px;
			    -webkit-border-bottom-right-radius: 5px;
			            border-bottom-right-radius: 5px;
			}	
		}
	}
}
td{
	border: 1px solid $blue;
	@include transition(.3);
	border-top: none;
	padding: 10px;
	font-size: 19px;
	font-family: $sam-one-300;
	&:hover{
		background-color: $light-blue;
	}
}
th{
	font-size: 24px;
	padding: 20px;
	text-align: left;
	font-family: $sam-one-800;
}

// //////////////
// Buttons
// //////////////
.button-common{
	@include transition(.3);
	display: inline-block;
	border: 2px solid;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	padding: 11.5px 32px;
	min-width: 134px;
	text-align: center;
	font-family: $sam-one-800;
	text-transform: uppercase;
	font-size: 21px;
	float: left;
	margin-right: 15px;
	cursor: pointer;
	&:last-child{
		margin-right: 0;
	}
	&:hover{
		text-decoration: none;
	}
}
.button-1, button{
	@extend .button-common;
	background-color: $blue;
	border-color: $blue;
	color: white;
	&:hover{
		background-color: white;
		color: $blue;
	}
	&:active{
		color: $light-blue-2;
	}
}
.button-2{
	@extend .button-common;
	background-color: white;
	border-color: $blue;
	color: $blue;
	&:hover{
		background-color: $blue;
		color: white;
		border-color: white;
	}
}
.button-3{
	background-color: $blue;
	color: white;
	display: inline-block;
	min-width: 100px;
	width: 100%;
	max-width: 150px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	padding: 5px 7px;
	text-align: center;
	font-family: $sam-one-800;
	text-transform: uppercase;
	font-size: 12px;
}
.button-4{
	color: white;
	display: inline-block;
	min-width: 100px;
	width: 100%;
	max-width: 150px;
	border: 2px solid white;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	padding: 5px 7px;
	text-align: center;
	font-family: $sam-one-800;
	text-transform: uppercase;
	font-size: 12px;
}
.button-6{
	color: $blue;
	display: inline-block;
	min-width: 100px;
	border: none;
	padding: 0;
	text-align: center;
	font-family: $sam-one-800;
	text-transform: uppercase;
	font-size: 18px;
	padding: 5px 7px;
	background-color: transparent;
	&:hover{
		background-color: $blue;
		color: white;
	}
}
.button-7{
	color: black;
	display: inline-block;
	min-width: 100px;
	border: none;
	padding: 0;
	text-align: center;
	font-family: $sam-one-800;
	text-transform: uppercase;
	font-size: 18px;
	padding: 5px 7px;
	background-color: transparent;
	&:hover{
		background-color: black;
		color: white;
	}
}

// //////////////
// Social Medias
// //////////////
.social-common{
	list-style: none;
	padding: 0;
	li{
		display: inline-block;
		text-transform: uppercase;
		width: auto;
		height: auto;
		text-align: center;
		vertical-align: middle;
		&:last-child{
			margin-right: 0;
		}
	}
	span{
			font-size: initial;
		}
	a{
		display: block;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		float: left;
		width: 100%;
		@include transition(.3);
	}

	.fa{
		@include transition(.3);
	    line-height: 1.5;
	    text-align: center;
	}
}
.social-1{
	@extend .social-common;
	.fa{
		color: $blue;
	}
	li{
		margin-right: 5px;
		&:hover{
			a{
				background-color: $blue;	
			}
			.fa{
				color: white;
			}
		}
		a{
			padding: 1px 14px;
		}
		.fa{
			font-size: 19px;
		}
	}
}
.social-2{
	@extend .social-common;
	background-color: $blue;
	padding: 9px 15px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	.fa{
		color: white;
		font-size: 19px;
	}
	li{
		margin-right: 5px;
		&:hover{
			a{
				background-color: white;
			}
			.fa{
				color: $blue;
			}
		}
		a{
			padding: 1px 14px;
		}
	}
}
.social-3{
	@extend .social-common;
	.fa{
		color: white;
		font-size: 18px;
	}
	li{
		margin-right: 0;
		&:hover{
			a{
				background-color: white;
			}
			.fa{
				color: black;
			}
		}
		a{
			padding: 1px 7px;
		}
	}
	&.black{
		.fa{
			color: black;
			@include transition(.3);
		}
		li{
			&:hover{
				.fa{
					color: $blue;
				}
			}
		}
	}
}
// //////////////
// Form
// //////////////
form{
	width: 100%;
	max-width: 670px;
	margin: 0 auto 20px;
	&:after{
		content: "";
		clear: both;
		display: block;
	}
	label{
		float: left;
		max-width: 106px;
		width: 100%;
		font-size: 21px;
		font-family: $sam-one-800;
		line-height: 2.5;
	}
	input{
		width: 80%;
		font-size: 18px;
		border: 1px solid black;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		padding: 15px 10px;
		font-weight: 100;
	}
	@include placeholder($light-grey);
}
.form-row{
	float: left;
	width: 80%;
	margin-top: 15px;
	.col-3{
		@include col-3(2%, 0%);
	}
	span{
		color: $light-grey;
		font-size: 14px;
		font-weight: bold;
		margin-top: 9px;
	}
}
select{
	padding: 13px 15px;
	border: 1px solid black;
	font-size: 18px;
	color: $blue;
	text-align: center;
	@include transition(.3);
	option{
		text-align: center;
		@include transition(.3);
		&:hover{
			color: $blue;
		}
	}
}
.radio-button{
	position: relative;
	font-size: 18px;
	font-family: $sam-one-800;
	padding-left: 35px;
	line-height: 1.7;
	margin-bottom: 15px;
	&:last-child{
		margin-bottom: 0;
	}
	input[type="radio"]{
		position: absolute;
		opacity: 0;
		width: 100%;
		left: 0;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		&:checked{
			& + .new-radio{
				&:after{
					background-color: $blue;
				}
			}
		}
	}
}
.new-radio{
	&:before, &:after{
		content: "";
		position: absolute;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
	}
	&:before{
		left: 0;
		top: 0;
		width: 25px;
		height: 25px;
		border: 1px solid black;
	}
	&:after{
		@include transition(.3);
		left: 6px;
		top: 6px;
		width: 15px;
		height: 15px;
	}
}
// //////////////
// Top Header
// //////////////
.top-header{
	background-color: black;
	color: white;
	padding: 9px 0;
	img{
		float: left;
	}
	.col-2:last-child{
		a{
			float: right;
			color: white;
			font-size: 10px;
			font-family: $sam-reg;
			line-height: 1.5;
		}
	}
}

// //////////////
// Header & Navigation
// //////////////
header{
	nav{
		
	}
	ul{
		list-style: none;
		padding: 0;
		float: left;
		width: auto;
		li{
			float: left;
			width: auto;
			margin-right: 15px;
			&:last-of-type{
				margin-right: 0;
			}
			a{
				font-family: $sam-bold;
				font-size: 14px;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}
.desktop-menu{
	ul{
		position: relative;
		&.hide{
			&:after{
				content: none;
			}
		}
		&:after{
			position: absolute;
			content: "";
			bottom: -44px;
			left: 0;
			width: 24%;
			height: 9px;
			-webkit-border-radius: 3px;
			        border-radius: 3px;
			background-color: $blue;
			@include transition(.3);
		}
		li{
			$var: 0%;
			@for $i from 1 through 4{
				&:nth-child(#{$i}) {
					&:hover{
						~ hr{
							margin-left: #{$var};
							$var: $var + 25%;
						}
					}
				}
			}
		}
		hr{
			height: 9px;
			width: 24%;
			position: relative;
			bottom: -33px;
			background-color: $blue;
			margin: 0;
			border: none;
			@include transition(.3);
			-webkit-border-radius: 3px;
			        border-radius: 3px;
		}
	}
}
.desktop{
	&.border{
		border-bottom: 3px solid $blue;
	}
	float: left;
	width: 100%;
	padding: 12px 0;
	.col-3{
		&:last-of-type{
			ul{
				float: right;
			}
		}
		&:nth-of-type(2){
			text-align: center;
			margin-top: 9px;
		}
	}
}
// //////////////
// Sub menu
// //////////////
.sub-menu{
	padding: 50px 0;
	 -webkit-box-shadow: 13px 9px 35px -2px rgba(0,0,0,0.5);
		-moz-box-shadow: 13px 9px 35px -2px rgba(0,0,0,0.5);
		 	 box-shadow: 13px 9px 35px -2px rgba(0,0,0,0.5);
	    margin-bottom: 30px;
	.two-third{
		overflow: hidden;
	}
	.swiper-container-tile{
		.swiper-scrollbar{
			background-color: $blue;
		}
		.swiper-scrollbar-drag{
			background-color: $blue;
		}
	}
	h2{
		font-size: 35px;
		color: $blue;
		margin-top: 33px;
	}
	p{
		font-size: 20px;
		font-family: $sam-one-400;
	}
}
.one-twoThird{
	@include one-twoThird(31.671%, 5%);	
}
.blue-slider{
	background-color: $blue;
	padding: 50px 0;
	.two-third{
		overflow: hidden;
	}
	.swiper-container-tile{
		.swiper-scrollbar{
			background-color: white;
		}
		.swiper-scrollbar-drag{
			background-color: white;
		}
	}
	h2{
		font-size: 35px;
		color: white;
		margin-top: 33px;
	}
	p{
		font-size: 20px;
		font-family: $sam-one-400;
		color: #FFF;
	}
	.news-style-3{
		border: none;
	}
}
// //////////////
// Desktop-blue-menu
// //////////////
.desktop-blue-menu{
	background-color: $blue;
	color: white;
	padding: 18px 0;
	.logo{
		display: inline-block;
		margin-right: 40px;
		img{
			vertical-align: middle;
		}
	}
	.col-2{
		&:first-child{
			line-height: 2.1;
		}
	}
}
.button-5{
	float: right;
	width: auto;
	span{
		float: left;
		display: inline-block;
		font-family: $sam-one-800;
		padding: 12px 0;
		text-transform: uppercase;
		margin-right: 8px;
	}
	.social-2{
		margin: 0;
		float: left;
		width: auto;
		padding: 0;
		.fa{
			font-size: 25px;
		}
	}
}


.tagline{
	display: inline-block;
	font-size: 18px;
	font-family: $sam-bold;
}
// //////////////
// Banner
// //////////////
.banner{
	.swiper-slide{
		min-height: 503px;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
}
.banner-content-wrapper{
	background-color: white;
	width: 100%;
	max-width: 500px;
	display: inline-block;
	float: right;
	padding: 40px 36px;
	position: relative;
	-webkit-border-top-left-radius: 5px;
	        border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
			border-bottom-left-radius: 5px;
	-webkit-box-shadow: 13px 9px 31px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 13px 9px 31px -5px rgba(0,0,0,0.75);
			box-shadow: 13px 9px 31px -5px rgba(0,0,0,0.75);
	@include transition(.3);
	&:hover{
		background-color: $blue;
		.banner-content{
			color: white;
		}
		.banner-content-desc{
			color: white;
		}
	}
}
.banner-content-title{
	@extend .button-3;
	position: absolute;
	top: -12px;
	left: 36px;
}
.banner-content{
	@include transition(.3);
	font-size: 35px;
	font-family: $sam-bold;
	color: $blue;
}
.banner-content-desc{
	@include transition(.3);
	font-size: 14px;
	font-family: $sam-one-400;
	margin-top: 15px;
	text-transform: uppercase;
}


.swiper-pagination{
	top: -15px;
	right: 0;
	.swiper-pagination-bullet{
		-webkit-border-radius: 0;
		        border-radius: 0;
	    width: 10px;
	    height: 10px;
	    margin-right: 2px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
}

// //////////////
// News
// //////////////
.news{
	padding: 70px 0;
	> .col-2{
		height: 340px;
		display: block;
		@include col-2(2%,2%);
		text-decoration: none;
		color: inherit;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		> .col-2{
			display: block;
			text-decoration: none;
			color: inherit;
			-webkit-border-radius: 5px;
		        border-radius: 5px;
			@include col-2(4%,0%);
		}
	}
}
.news-1{
	height: 100%;
	overflow: hidden;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	@include transition(.3);
	position: relative;
	z-index: 1;
	height: 340px;
		&:hover{
			text-decoration: none;
			background-color: black;
			-webkit-box-shadow: 0px 6px 12px -1px rgba(0,0,0,0.57);
				-moz-box-shadow: 0px 6px 12px -1px rgba(0,0,0,0.57);
				box-shadow: 0px 6px 12px -1px rgba(0,0,0,0.57);
			.news-content-front{
				-webkit-transform: translate3d(0,-100%,0);
				   -moz-transform: translate3d(0,-100%,0);
				    -ms-transform: translate3d(0,-100%,0);
				     -o-transform: translate3d(0,-100%,0);
				        transform: translate3d(0,-100%,0);
			}
			.news-content-hover{
				-webkit-transform: translate3d(0,-100%,0);
				   -moz-transform: translate3d(0,-100%,0);
				    -ms-transform: translate3d(0,-100%,0);
				     -o-transform: translate3d(0,-100%,0);
				        transform: translate3d(0,-100%,0);
			    background-color: black;			    
			}
			&.news-style-3{
				border: none;
			}
		}
}

.news-content-front{
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.2);
	}
}
.news-content-front, .news-content-hover{
	@include transition(.6);
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
	text-align: left;
}
.news-style-1{
	.news-content-front{
		.button-3{
			float: right;
			margin-right: 20px;
			margin-top: 20px;
			position: relative;
			z-index: 1;
		}
		p{
			position: absolute;
			z-index: 1;
			bottom: 20px;
			left: 20px;
			font-size: 32px;
			color: white;
			font-family: $sam-bold;
		}	
	}
}
.news-content-hover{
	padding: 30px;
	p{
		color: white;
		font-family: $sam-med;
		font-size: 14px;
		line-height: 1.5;
	}
}
.news-content-hover-wrapper{
	max-width: 410px;
	width: 100%;
	margin: auto;
	position: relative;
	height: 100%;
	padding-bottom: 30px;
}
.button-area{
	float: left;
	width: 100%;
	margin-top: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	span{
		display: inline-block;
		font-size: 17px;
		float: left;
		margin-right: 3px;
		color: white;
		width: auto;
		margin-top: 5px;
		font-family: $sam-bold;
		text-transform: uppercase;
	}
	.social-3{
		margin-top: 0;
		margin-bottom: 0;
	}
	button{
		margin-bottom: 30px;
	}
}
.button-area-3{
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	position: absolute;
	bottom: 0;
	left: 22%;
	span{
		display: inline-block;
		font-size: 17px;
		float: left;
		margin-right: 3px;
		color: white;
		width: auto;
		margin-top: 5px;
		font-family: $sam-bold;
		text-transform: uppercase;
	}
	.social-3{
		margin-top: 0;
		margin-bottom: 0;
	}
	button{
		margin-bottom: 30px;
	}
}

.news-style-2{
	.table{
		height: 100%;
	}
	.news-content-front{
		padding: 35px;
		position: relative;
		p{
			color: white;
			font-size: 25px;
			font-family: $sam-bold;
			position: relative;
			z-index: 1;
			text-align: center;
		}
	}
}
.button-area-2{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 25px;
	z-index: 1;
	.col-2{
		&:first-child{
			color: white;
			text-transform: uppercase;
			font-size: 12px;
			font-family: $sam-one-400;
			padding-top: 14px;
		}
		&:last-child{
			button{
				float: right;
			}
		}
	}
}
.news-style-3{
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	    background-color: #FFF;
	.news-content-front{
		&:after{
			content: none;
		}
		img{
			width: 100%;
		}
		p{
			color: $blue;
			font-size: 20px;
			padding: 25px;
			font-family: $sam-bold;
			line-height: 1.5;
		}
	}
	.button-area-2{
		.col-2{
			&:first-child{
				color: black;
			}
		}
	}
}
.button-area-5{
	float: left;
	width: 100%;
	text-align: center;
	span{
		display: inline-block;
		font-size: 12px;
		margin-right: 3px;
		color: black;
		width: auto;
		margin-top: 5px;
		font-family: $sam-one-400;
		text-transform: uppercase;
	}
	.social-3{
		margin-top: 0;
		margin-bottom: 0;
		display: inline-block;
	}
}

// //////////////
// Videos
// //////////////
.news-style-4{
	.news-content-front{
		position: relative;
		.button-3{
			position: absolute;
			right: 20px;
			top: 20px;
			z-index: 1;
		}
		p{
			position: relative;
			z-index: 1;			
			font-size: 35px;
			color: white;
			font-family: $sam-bold;
		}	
	}
}
.news-video{
	height: 100%;
	overflow: hidden;
	position: relative;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
		.news-content-hover{
			&.hide{
				opacity: 0;
			}
		}
	&.shadow{
		-webkit-box-shadow: 13px 9px 31px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 13px 9px 31px -5px rgba(0,0,0,0.75);
			box-shadow: 13px 9px 31px -5px rgba(0,0,0,0.75);
	}	
}
.video-content{
	height: 100%;
	max-width: 390px;
	width: 100%;	
	margin: auto;
	text-align: center;
}
.video-play{
	position: relative;
	z-index: 1;
	margin-bottom: 25px;
	cursor: pointer;
	.fa{
		font-size: 110px;
		color: #FFF;
	}
}
// Embeded videos style
.embed-container { 
	@include transition(0s);
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	 iframe, object, embed { 
	 	position: absolute; 
	 	top: 0; 
	 	left: 0; 
	 	width: 100%; 
	 	height: 100%; 
 	}
}
.video-to-play{
	@include transition(.3);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: none;
	-webkit-border-radius: 5px;
		border-radius: 5px;
	overflow: hidden;
	&.show{
		display: block;
	}
}
// //////////////
// Pop up | Subscription Form
// //////////////
.sub-form-wrapper{
	display: none;

	background-color: black;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	@include transition(.3);
	padding: 25px;
}
.sub-form{
	max-width: 620px;
    background-image: url('images/sub-form-img.png');
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
    padding: 65px;
    font-size: 34.5px;
}
.bot-sub-form{
	font-family: $sam-bold;
	p{
		font-size: 24px;	
		font-family: $sam-bold;
	}
}
.sub-form, .bot-sub-form {
    
    width: 100%;
    margin: auto;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    input{
    	width: 100%;
    	margin-bottom: 5px;
    	text-align: center;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	word-spacing: 2px;
    	&:last-child{
    		margin-bottom: 0;
    	}
    }
    input[type="text"]{
    	font-family: $sam-one-300;
    	font-size: 15px;
    	padding: 19px;
    }
    .button-1{
    	font-size: 24px;
    	padding: 13px;
    }
    @include placeholder(black);
    position: relative;
    &:before{
    	position: absolute;
    	background-color: rgba(0,0,0,.8);
    	top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
    	z-index: 1;
    	content: "";
    }
    form, .success{
    	position: relative;
    	z-index: 2;
    	margin-bottom: 0;
    }
}
.close-sub-form{
	position: absolute;
	right: -20px;
	top: -20px;
	z-index: 2;
	background-color: $blue;
	width: 55px;
	height: 55px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 45px;
	line-height: 1;
	@include transition(.3);
	cursor: pointer;
	&:hover{
		background-color: darken($blue,10%);
	}
}
.button-area-4{
	float: left;
	width: 100%;
	background-color: $blue;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	padding: 16px;
	margin-top: 15px;
	.button-area-4-wrapper{
		width: 50%;
		margin: auto;
		min-width: 240px;
	}
	span{
		display: inline-block;
		font-size: 17px;
		float: left;
		margin-right: 10px;
		color: white;
		width: auto;
		margin-top: 5px;
		font-family: $sam-bold;
		text-transform: uppercase;
	}
	.social-4{
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		list-style: none;
		color: white;	
		li{
			float: left;
			width: 28px;
			height: 28px;
			margin-right: 8px;
			&:last-child{
				margin-right: 0;
			}
		}
		a{
			color: white;
			font-size: initial;
			display: inline-block;
			float: left;
			width: 100%;
			height: 100%;
			line-height: 1.9;
			font-size: 17px;
			@include transition(.3);
			-webkit-border-radius: 5px;
			        border-radius: 5px;
			&:hover{
				background-color: white;
				color: $blue;
			}
		}
	}
}

// //////////////
// Experts
// //////////////
.experts{
	background-color: $blue;
	color: #FFF;
	padding: 50px 0;
	.col-2{
		background-color: $blue;
		position: relative;
		-ms-overflow-x: hidden;
		    overflow-x: hidden;
	}
}
.expert{
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	    background-color: white;
	    height: 100%;
	    @include transition(.3);
    &:hover{
    	-webkit-box-shadow: 0px 6px 12px -1px rgba(0,0,0,0.57);
    	        box-shadow: 0px 6px 12px -1px rgba(0,0,0,0.57);
    }
}
.experts-content{
	padding-top: 30px;
	p{
		font-size: 35px;
		font-family: $sam-bold;
	}
}
.expert-info{
	list-style: none;
	padding: 0;
	text-align: center;
	color: black;
	li{
		font-family: $sam-one-800;
		&:nth-of-type(1){
			font-size: 25px;	
		}
		&:nth-of-type(2){
			font-size: 14px;
			text-transform: uppercase;
		}
	}
}
.expert{	
	max-width: 220px;
	a{
		&:hover{
			text-decoration: none;
		}
	}
}
.social-5{
	list-style: none;
	color: #ccc;
	width: auto;
	text-align: center;
	padding: 0;
	li{
		display: inline-block;
		margin-right: 5px;
		&:last-child{
			margin-right: 0;
		}
		a{
			color: inherit;
			@include transition(.3);
			&:hover{
				color: $blue;
			}
		}
	}
}
.swiper-container-tile{
        width: 100%;
        height: 100%;
        position: relative;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
		color: black;
    }
    .swiper-wrapper{
    	padding-bottom: 25px;
    }
    .swiper-scrollbar{
		height: 2px;
		background-color: white;
	}
	.swiper-scrollbar-drag{
		background-color: white;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		    height: 7px;
		    top: -3px;
	}
}

// //////////////
// Subscription form in bottom
// //////////////
.bottom-form{
	background-color: black;
	color: white;
	text-align: center;
	padding: 70px 0;
	border-top: 4px solid $blue;
	.social-3{
		margin: 35px 0;
		li{
			width: auto;
			height: auto;
			.fa{
				font-size: 30px;
			}
			a{
				padding: 1px 14px;
			}
		}
	}
	.col-2{
		&:first-child{
			border-right: 1px solid white;		
		}
		&:nth-of-type(2){
			padding-left: 13%;
			
		}
	}
}
.bot-form-logo{
	padding-top: 100px;
}
.site-menu{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		display: inline-block;
		&:last-child{
			a{
				border-right: none;
				margin-right: 0;
				padding-right: 0;
			}
		}
	}
	a{
		color: #FFF;
		border-right: 1px solid white;
		padding-right: 5px;
		margin-right: 5px;
		display: inline-block;
	}
}

// //////////////
// Blockquote
// //////////////
blockquote{
	float: left;
	width: 100%;
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
    padding: 60px 29%;
    font-family: $sam-one-800;
    font-size: 38px;
    color: $blue;
    position: relative;
    &:before, &:after{
    	color: white;
    	padding: 0 10px;
    	position: absolute;
    	background-color: $blue;
    	font-size: 65px;
    	height: 43px;
    }
    &:before{
    	content: "\201C";
    	left: 0;
    	top: 0;
    	-webkit-border-bottom-right-radius: 5px;
    	        border-bottom-right-radius: 5px;
    	-webkit-border-bottom-left-radius: 5px;
    	        border-bottom-left-radius: 5px;
    }
    &:after{
    	content: "\201D";	
    	right: 0;
    	bottom: 0;
    	-webkit-border-top-right-radius: 5px;
    	        border-top-right-radius: 5px;
    	-webkit-border-top-left-radius: 5px;
    	        border-top-left-radius: 5px;
    }
}
// //////////////
//Comments
// //////////////
.was{
	display: inline-block;
	font-size: 24px;
	color: $blue;
	font-family: $sam-bold;
	line-height: 2.5;
	float: right;
	margin-right: 15px;
}
.great-share{
	list-style: none;
	padding: 0;
	width: auto;
	text-align: center;
	margin: auto;
	font-size: 24px;
	color: $blue;
	font-family: $sam-bold;
	line-height: 2.5;
	li{
		display: inline-block;
		width: auto;
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
	a{
		padding: 6px 13px 0;
		display: inline-block;
		line-height: 1.5;
		@include transition(.3);
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		&:hover{
			background-color: $blue;
			color: white;
		}
	}
}
.feedback{
	p{
		font-size: 24px;
		color: $blue;
		font-family: $sam-bold;
		line-height: 2.5;
	}
	button{
		float: right;
		margin-top: 15px;
	}
}
textarea{
	float: left;
	width: 100%;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	border: 1px solid black;
	padding: 20px;
	font-family: $sam-one-300;
	font-size: 18px;
}
.categories{
	text-align: center;
	.button-1{
		float: none;
	}
}
.total-comments{
	color: $blue;
	font-size: 24px;
	font-family: $sam-reg;
	strong{
		font-family: $sam-bold;
	}
}
.list-filter{
	font-size: 18px;
	span{
		float: left;
		width: auto;
	}
	border-bottom: 1px solid black;
	padding-bottom: 12px;
	& + .list-of-comments{
		border-top: none;
		border-bottom: 1px solid black;
	}
}
.list-filter-options{
	float: left;
	width: auto;
	select{
		border: none;
		padding: 0;
		background-color: white;
		margin-left: 15px;
		font-weight: bold;
		color: black;
		font-family: $sam-one-800;
	}
}
.list-info{
	margin-top: 15px;
	font-size: 18px;
	strong{
		font-family: $sam-one-800;
	}
}
.list-of-comments{
	padding-bottom: 25px;
	border-top: 1px solid black;
	button{
		float: right;
	}
	&:last-of-type{
		border-bottom: 1px solid black;
	}
}
.replied{
	padding-bottom: 25px;
	padding-top: 25px;
	button{
		float: right;
	}
	padding-left: 50px;
	padding-right: 50px;
	background-color: #f2f2f2;
	&:after{
		content: "";
		height: 1px;
		width: 95%;
		clear: both;
		margin-top: 45px;
		margin: auto;
		display: block;
		position: relative;
		top: 25px;
		background-color: $light-grey;
	}
	&:last-child{
		&:after{
			content: none;
		}
	}
}
figcaption{
	font-size: 12px;
	font-family: $sam-one-400;
	strong{
		font-family: $sam-one-800;
	}
}
.blog-by{
	font-family: $sam-one-800;
	text-align: center;
}
.blog-date{
	font-family: $sam-one-400;
	text-align: center;
}
.breadcrumb{
	list-style: none;
	padding: 0;
	margin: 30px 0;
	text-align: center;
	float: left;
	width: 100%;
	li{
		display: inline-block;
		width: auto;
		padding-right: 5px;
		margin-right: 5px;
		border-right: 1px solid black;
		&:last-child{
			padding-right: 0;
			margin-right: 0;
			border-right: none;
		}
		&, a{
			color: black;
			font-family: $sam-one-400;
			font-size: 12px;
			@include transition(.3);
		}
	}
}
// //////////////
// Load More
// //////////////
.load-more{
	text-align: center;
	    font-size: 11px;
	    font-family: $sam-one-400;
	    color: $blue;
	    text-transform: uppercase;
	    margin-bottom: 70px;
	    cursor: pointer;
	    span{
	    	height: 68px;
	    	width: 68px;
	    	margin: auto auto 10px;
	    	border: 1px solid $blue;
	    	display: block;
	    	-webkit-border-radius: 50%;
	    	        border-radius: 50%;
	    	padding: 12px;
	    	z-index: 1;
	    	position: relative;
	    	@include transition(.3);
	    	&:hover{
	    		background-color: $blue;
	    		color: $blue;
	    		@include transform(180);
	    		&:before, &:after{
	    			background-color: white;
	    		}
	    	}
	    	&:before, &:after{
	    		content: "";
	    		@include transition(.3);
	    		z-index: 0;
	    		display: block;
	    		height: 1px;
	    		width: 65%;
	    		background-color: $blue;
	    		position: absolute;
	    	}
	    	&:before{
	    		left: 11px;
	    		top: 31px;
	    		@include transform(90);
	    	}
	    	&:after{
	    		left: 12px;
	    		bottom: 33px;
	    		@include transform(0);
	    	}

	    }
}

// //////////////
// Responsive Menu
// //////////////
.responsive-menu{
	padding: 20px 0;
	position: relative;
	.logo{
		float: left;
		width: auto;
		img{
			padding-top: 10px;
		}
	}
	nav{
		position: absolute;
		display: none;
		background-color: $blue;
		color: white;
		left: 0;
		top: 3px;
		right: 0;
		height: auto;
		z-index: 9;
		padding: 80px 50px 80px 50px;
		overflow: scroll;
		.navigation{
			width: 100%;
			margin-bottom: 100px;
			a{
				color: white;
				font-family: $sam-bold;
				font-size: 70px;
			}
			li{
				width: 100%;
				margin-bottom: 35px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	form{
		max-width: inherit;
		margin: 0;
		label{
			width: 100%;
			max-width: inherit;
			border: 1px solid white;
			-webkit-border-radius: 5px;
			        border-radius: 5px;
			position: relative;
			.fa{
				color: white;
				font-size: 45px;
				float: left;
				padding: 15px;
				width: auto;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		input{
			width: 100%;
			border: none;
			padding: 20px 20px 20px 70px;
			background-color: transparent;
			color: white;
			font-size: 30px;
		}
	}
	.social-2{
		width: 100%;
		.fa{
			font-size: 48px;
		}
		li{
			margin-right: 8%;
			&:last-child{
				margin-right: 0;
			}
		}
	}
}//responsive-menu
.menu-button-wrapper{
	z-index: 99;
    cursor: pointer;
    float: right;
    border: 2px solid $blue;
    padding: 12px;
    position: relative;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    @include transition(.3);
    &:hover{
    	background-color: $blue;
    	border-color: white;
    	.menu-button{
    		color: #FFF;
    		&:before{
    			background-color: #FFF;
    		}
    		&:after{
    			border-top-color: #FFF;
    			border-bottom-color: #FFF;
    		}
    	}
    }
    &.show{
		background-color: $blue;
		border-color: white;
		.menu-button{
			&:before {
		    top: 12px;
		    background-color: #FFF;
		    @include transform(-45);
			}
			&:after {
			    top: 12px;
			    border: 0;
			    height: 3.4px;
			    background: white;
			    border-top-color: #FFF;
				border-bottom-color: #FFF;
			    @include transform(45);
			}
		}
	}
}
.menu-button{
    position: relative;
    color: $blue;
    width: 40px;
    font-weight: 700;
    text-align: right;
    height: 30px;
    @include transition(.2);
    &:after, &:before {
	    position: absolute;
	    content: "";
	    display: block;
	    width: 100%;
	    left: 0;
	    @include transition(.3);
	}
	&:before {
	    top: 26px;
	    height: 3.4px;
	    background-color: $blue;
	}
	&:after {
	    top: 0;
	    height: 10px;
	    border-top: 3.5px solid $blue;
	    border-bottom: 3.5px solid $blue;
	}
}
.responsive-2{
	display: none;
}
// //////////////
//This file link includes resonsive style and it MUST always stays at the bottom of this file. If you need to type code, please type above to this link. Don't type below of responsive file link.
// //////////////
@import 'responsive';
